a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
html, body { overflow: auto; height: 100%; width: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.overflow-y {
  overflow-y: scroll;
}
 
.m-l-26{
  padding-right: 26px;;
}

.m-l-40{
  margin-left:40%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.warning{
  background-color: orange !important;
  color: #fff !important;
}

.success{
  background-color: green !important;
  color: #fff !important;
}

.error{
  background-color: red !important;
  color: #fff !important;
}

.info{
  background-color: rgb(68, 68, 211) !important;
  color: #fff !important;
}

.mat-card-header-text{
  margin: 2px !important;
}

/* Mat Table */
table {
  width: 100%;
}

.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  background: #cfd4e3;
  color:#fff !important;
}
  
/* Mat Table */

.breadcrumb {
  color: #186417;
  background-image: linear-gradient(to right, #b9e6e5 , #edf6f6);
  border-radius: 0px;
}

.action-button{
  margin: 8px 5px 15px 5px !important
}

.action-button-wap{
  margin: 2px !important;
  background: #f6f6f6 !important;
}

.content-wrapper{ 
  height: 100% !important;
  width: 100% !important;
  background-color: #e7e7e7;
}

.site-content{
  padding: 0px !important;
}

/* Mat Dialog */
.mat-dialog-title{
  font-size: large !important;
  margin-bottom: 10px !important;
}
.form-title-divider{
  margin-bottom: 5px !important;
}
/* Mat Dialog */
 
mat-icon, a{
	cursor: pointer;
}

.gradient-green-linear{
  background-image: linear-gradient(to right, #3ec173 , #addec8) !important;
}

.gradient-orange-linear{
  background-image: linear-gradient(to right, #e69633 , #e6c7a0) !important;
}

.gradient-red-linear{
  background-image: linear-gradient(to right, #e64433 , #e6938a) !important;
}

.gradient-blue-linear{
  background-image: linear-gradient(to right, #148cc5 ,#97c9e1) !important;
}

.color-white{
    color: #fff !important;
}

.m-rl-8{
  margin: 0px 8px !important;
}
.mat-snack-bar-container{
  .mat-button-wrapper{
    color: #fff;
  }
}

.mat-snack-bar-container{
  margin-top: 60px !important; 
  margin-right: 5px !important; 
}
.m-8{
  margin: 8px !important;
}