a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.overflow-y {
  overflow-y: scroll;
}
 
.m-l-26{
  padding-right: 26px;;
}

.m-l-40{
  margin-left:40%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.warning{
  background-color: orange !important;
  color: #fff !important;
}

.success{
  background-color: green !important;
  color: #fff !important;
}

.error{
  background-color: red !important;
  color: #fff !important;
}

.mat-card-header-text{
  margin: 2px !important;
}

/* Mat Tabble */
table {
  width: 100%;
}

.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  background: #cfd4e3;
  color:#fff !important;
}
  
/* Mat Tabble */

.breadcrumb {
  color:#555;
  margin: 5px;
}

.action-button{
  margin: 8px 5px 15px 5px !important
}

.action-button-wap{
  margin: 2px !important;
  background: #f6f6f6 !important;
}

.content-wrapper{
  padding: 10px !important;
}
