   .k-grid-excel{
    background-color: #007c00 !important;
    color: #fff !important;
  }
 
  .k-grid-pdf{
    background-color: #f00 !important;
    color: #fff !important;
  }
   
  .param-wrapper{
    padding-top: 0px !important;
  }

  kendo-grid {
    height: calc(100vh - 275px);

    .k-grid-header {
      .k-header {
        .k-link {
          color: #4a6471 !important;
          font-weight: bold;
        }

        .k-link:hover {
          text-decoration: none !important;
        }
      }
    }

    kendo-grid-group-panel {
      .k-indicator-container {
        .k-group-indicator {
          .k-link {
            color: #5a5b5f !important;
            font-weight: bold;
            position: relative;
          }

          .k-link:hover {
            text-decoration: none !important;
          }
        }
      }
    }
 
    tbody {
      td {
        white-space: nowrap;
        line-height: 20px;
        padding: 8px 12px;
      }
    }

    thead {
      tr {
        th {
          padding: 8px 23px 8px 12px;
        }

        td {
          overflow: visible;
        }
      }

      kendo-grid-string-filter-cell {
        .k-filtercell-wrapper {
          position: relative;

          input {
          &:hover {
              z-index: 1000 !important;
              position: absolute !important;
              top: 0 !important;
              box-shadow: 5px 10px 18px #888888;
              width: calc(100% - -25px) !important;
              min-width: 225px;
            }
          }
        }
      }

      kendo-grid-numeric-filter-cell {
        .k-numerictextbox:hover {
          .k-numeric-wrap {
            position: absolute;
            top: 0;
            box-shadow: 5px 10px 18px #888888;
            z-index: 999;
            width: calc(100% - -45px);
            min-width: 185px;
          }
        }
      }

      kendo-grid-date-filter-cell {
        .k-datepicker {
          .k-picker-wrap {
            .k-dateinput:hover {
              position: absolute;
              top: 0;
              box-shadow: 5px 10px 18px #888888;
              z-index: 999;
              min-width: 125px;
            }
          }
        }
      }
    }
  }
  
.loading-grid {
  position: absolute;
  z-index: 1;
  height: 5px;
}

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #32a5d9;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: #e4e8eb;
  }

  ::ng-deep .mat-progress-bar {
    border-radius: 2px;
  }
  
/* Export PDF Styles*/
.page-template {
  font-family: "DejaVu Sans", "Arial", sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page-template .header {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  border-bottom: 1px solid #888;
  color: #888;
}

.page-template .footer {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  border-top: 1px solid #888;
  text-align: center;
  color: #888;
}

/* Export PDF Styles*/