<div class="site-content">
  <span class="breadcrumb">Products</span>

  <div fxLayout="row" fxLayoutGap="12px">
    <div fxFlex>
      <mat-card class="d-tile">
        <mat-card-header>
          <mat-card-subtitle>Available Stock</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="m-l-40">
            <h1>{{box?.Available}}</h1>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card class="d-tile">
        <mat-card-header>
          <mat-card-subtitle>Out Of Stock</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="m-l-40">
            <h1>{{box?.OutOfStock}}</h1>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card class="d-tile">
        <mat-card-header>
          <mat-card-subtitle>Damaged Stock</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="m-l-40">
            <h1>{{box?.Damaged}}</h1>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card class="d-tile">
        <mat-card-header>
          <mat-card-subtitle>Stock This Year</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="m-l-40">
            <h1>{{box?.StockThisYear}}</h1>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="12px">
    <div fxFlex>
      <mat-card class="d-chart">
        <mat-card-header>
          <mat-card-title>Top 5 Stock Trend This Month</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngTemplateOutlet="barLineCol; context: { $implicit: trendLine }">
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card class="d-chart">
        <mat-card-header>
          <mat-card-title>Top 5 Stock Dist By Status This Month</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngTemplateOutlet="pieDonut; context: { $implicit: donutChart }">
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- Chart -->
<ng-template #barLineCol let-chartDS>
  <kendo-chart [categoryAxis]="chartDS.CategoryAxis" [pannable]="chartDS.Pannable" [zoomable]="chartDS.Zoomable">
    <kendo-chart-series>
      <kendo-chart-series-item [stack]="chartDS.Stack" [type]="chartDS.Type" [categoryField]="chartDS.YAxis"
        *ngFor="let ss of chartDS.Data?.Series; let i=index;" [name]="ss.Name " [field]="chartDS.YAxis" [data]="ss.Data"
        [style]="'smooth'">

        <kendo-chart-series-item-labels *ngIf="!chartDS.Stack && chartDS.Type != 'line'" [format]="ss.Format"
          background="none" position="outsideEnd" [padding]="5" color="#fff">
        </kendo-chart-series-item-labels>

        <kendo-chart-series-item-labels *ngIf="chartDS.Stack && chartDS.Type != 'line'" [format]="ss.Format"
          background="none" position="top" [padding]="5" [margin]="{ top: getTop(i) }" color="#fff">
        </kendo-chart-series-item-labels>

        <kendo-chart-series-item-tooltip [format]="ss.Format" color="#fff">
        </kendo-chart-series-item-tooltip>

      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
  </kendo-chart>
</ng-template>

<ng-template #pieDonut let-chartDS>
  <kendo-chart [categoryAxis]="chartDS.categoryAxis">
    <kendo-chart-series>
      <kendo-chart-series-item [type]="chartDS.Type" [categoryField]="chartDS.XAxis" [name]="'Status'"
        [field]="chartDS.YAxis" [data]="chartDS.Data">
        <kendo-chart-series-item-labels [format]="chartDS.Format" color="#fff" background="none">
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
  </kendo-chart>
</ng-template>