<div class="site-content">
  <span class="breadcrumb">Dashboard
    <mat-icon>keyboard_arrow_right</mat-icon>
  </span>

  <div *ngIf="box" class="dashboard-wrapper">

    <mat-card class="d-box gradient-green-linear">
      <mat-card-header>
        <mat-card-subtitle>Available Stock</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="m-l-40">
          <h1 class="color-white">{{box?.Available}}</h1>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="d-box gradient-orange-linear">
      <mat-card-header>
        <mat-card-subtitle>Out Of Stock</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="m-l-40">
          <h1 class="color-white">{{box?.OutOfStock}}</h1>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="d-box gradient-red-linear">
      <mat-card-header>
        <mat-card-subtitle>Damaged Stock</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="m-l-40">
          <h1 class="color-white">{{box?.Damaged}}</h1>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="d-box gradient-blue-linear">
      <mat-card-header>
        <mat-card-subtitle>Stock This Year</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="m-l-40">
          <h1 class="color-white">{{box?.StockThisYear}}</h1>
        </div>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="dashboard-wrapper">
    <mat-card *ngIf="barLineCol" class="d-chart">
      <mat-card-header>
        <mat-card-subtitle>Stock Trend Yearly</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngTemplateOutlet="barLineColChrt; context: { $implicit: barLineCol }">
        </ng-container>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="pieDonut" class="d-chart">
      <mat-card-header>
        <mat-card-subtitle>Stock Dist By Status Yearly</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngTemplateOutlet="pieDonutChrt; context: { $implicit: pieDonut }">
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Chart -->
<ng-template #barLineColChrt let-barLineCol>
  <kendo-chart [categoryAxis]="barLineCol.CategoryAxis" [pannable]="barLineCol.Pannable"
    [zoomable]="barLineCol.Zoomable">
    <kendo-chart-series>
      <kendo-chart-series-item [stack]="barLineCol.Stack" [type]="barLineCol.Type" [categoryField]="barLineCol.YAxis"
        *ngFor="let ss of barLineCol.Data?.Series; let i=index;" [name]="ss.Name " [field]="barLineCol.YAxis"
        [data]="ss.Data" [style]="'smooth'">

        <kendo-chart-series-item-labels *ngIf="!barLineCol.Stack && barLineCol.Type != 'line'" [format]="ss.Format"
          background="none" position="outsideEnd" [padding]="5" color="#fff">
        </kendo-chart-series-item-labels>

        <kendo-chart-series-item-labels *ngIf="barLineCol.Stack && barLineCol.Type != 'line'" [format]="ss.Format"
          background="none" position="top" [padding]="5" [margin]="{ top: getTop(i) }" color="#fff">
        </kendo-chart-series-item-labels>

        <kendo-chart-series-item-tooltip [format]="ss.Format" color="#fff">
        </kendo-chart-series-item-tooltip>

      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
  </kendo-chart>
</ng-template>

<ng-template #pieDonutChrt let-pieDonut>
  <kendo-chart [categoryAxis]="pieDonut.categoryAxis">
    <kendo-chart-series>
      <kendo-chart-series-item [type]="pieDonut.Type" [categoryField]="pieDonut.XAxis" [name]="'Status'"
        [field]="pieDonut.YAxis" [data]="pieDonut.Data">
        <kendo-chart-series-item-labels [format]="pieDonut.Format" color="#fff" background="none">
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
  </kendo-chart>
</ng-template>