<h1 mat-dialog-title>{{action}} Product</h1>
<div mat-dialog-content>

  <form name="productForm" [formGroup]="productForm" novalidate class="w-100-p" fxLayout="column">
    <fieldset fxLayout="column" class="mb-12">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <input matInput type="text" placeholder="Product" formControlName="Product" required
            [(ngModel)]="selectedProduct.product">
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput type="text" placeholder="Description" formControlName="Description" required
            [(ngModel)]="selectedProduct.description">
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput type="number" placeholder="Price" formControlName="Price" required
            [(ngModel)]="selectedProduct.price">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">

        <mat-form-field fxFlex>
          <input matInput type="number" placeholder="Stock" formControlName="Stock" required
            [(ngModel)]="selectedProduct.stock">
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput type="text" placeholder="Company" formControlName="Company" required
            [(ngModel)]="selectedProduct.company">
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-select placeholder="Status" formControlName="StatusListItemId" required
            [(ngModel)]="selectedProduct.statusListItemId">
            <mat-option *ngFor="let dt of statusList;" [value]="dt.listItemId">
              {{ dt.listItem }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </fieldset>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancelClick()" color="warn">Cancel</button>
  <button [disabled]="!productForm.valid" (click)="submitForm()" mat-raised-button color="primary">Save</button>
</div>