a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

mat-icon{
  cursor: pointer;
}

mat-icon:hover{
  color: rgb(98, 98, 216);
}

.nav-bar-wrp {
  background-image: linear-gradient(to right, #495a5a , #809e76) !important;
  padding-bottom: 10px; 
  margin-bottom: 0px !important;
}

.nav-bar-container{
  display: flex;
  width: 100% !important;
}

.nav-logo{
  width: 20% !important;
  margin-right: auto !important;
}

.nav-menu{
  width: 20% !important;
  margin-left: auto !important;
}

.nav-bar-wrp > .container {

  margin: 0;
}

.nav-bar-link {
  color: #fff!important;
}

.nav-bar-link:hover {
  color: rgb(167, 238, 53) !important;
}

.site-icon{
  color: #fff !important;
  margin-right: 5px !important;
}

.site-icon:hover{
  color: rgb(167, 238, 53) !important;
}
.navbar-nav > .nav-item.link-active{
  background-color: #6d876d !important;
}
 
.navbar-nav > .nav-item:hover{
  background-color:#728d6f !important;
}

.navbar-nav > .nav-item > a{
  color: #fff !important;
}

.logout-icon{
  color: #fff !important;
  margin-left: 10px !important;
}

.logout-icon:hover{
  color: rgb(245, 16, 16) !important;
}